@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

.body {
  margin: 0 auto;
  font-family: "roboto", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  .main {
    padding: 0 1rem;
  }
}

h1,
h2,
h3,
h4 h5,
h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  box-shadow: 0 0 0.5Srem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem #787878;
}
.header__container > a {
  transform: translate(21px, 19px);
  font-size: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.location {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #eaeaea;
  font-size: 1.1rem;
  position: relative;
  align-items: baseline;
}
.location i {
  font-size: larger;
  margin-right: 15px;
}

.explorer__restaurants {
  text-align: center;
  padding: 2rem;
  background-color: #f5f5f5;
  padding-bottom: 4.2rem;
}
.explorer__restaurants--title {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 10px 15px 10px;
}
.explorer__restaurants--paragraph {
  color: #787878;
  margin: 0 0rem 2.7rem 0;
  font-size: 1.1rem;
}
.explorer__restaurants--btn {
  padding-top: s20px;
  padding: 0.9rem 1.2rem;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  background-color: #787878;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer__restaurants--btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
  transition-duration: 180ms;
  cursor: pointer;
  background-color: rgba(217, 217, 217, 0.9);
}

.steps {
  padding-top: 2rem;
  padding-bottom: 3.5rem;
}
.steps__content {
  max-width: 1400px;
  margin-left: 25px;
  margin-right: 20px;
}
@media (min-width: 880px) {
  .steps__content > h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.steps__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  padding-top: 7px;
}
@media (min-width: 768px) {
  .steps__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.steps__list--cards {
  display: flex;
  align-items: baseline;
  border: solid 1px #f5f5f5;
  padding: 25px 0px;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.steps__list--cards:hover {
  transform: scale(1.02);
  opacity: 1;
  cursor: pointer;
  transition-duration: 180ms;
  background-color: hsl(279deg, 100%, 94%);
}
.steps__list--cards .number {
  font-weight: bold;
  padding: 5px;
  border: solid 1px #9356DC;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  transform: translate(-12px, -5px);
}
.steps__list--cards i {
  margin-left: 2.8rem;
  margin-right: 1.4rem;
  color: #787878;
}
.steps__list--cards p {
  font-weight: bold;
}

#homepage .menus {
  background-color: #f6f6f6;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}
#homepage .menus h2 {
  margin-left: 22px;
}
#homepage .menus__all {
  background-color: #f6f6f6;
}
#homepage .menus img {
  width: 100%;
  max-height: 335px;
  min-height: 263px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1400px;
}
#homepage .menus__cards {
  display: grid;
  gap: 1.3rem;
  margin-right: 20px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  #homepage .menus__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
#homepage .menus__cards .new {
  position: relative;
}
#homepage .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .card__image {
  height: 12rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}
#homepage .menus .card__image-1 {
  background-image: url("../../assets/menu-1.jpg");
}
#homepage .menus .card__image-2 {
  background-image: url("../../assets/menu-2.jpg");
}
#homepage .menus .card__image-3 {
  background-image: url("../../assets/menu-3.jpg");
}
#homepage .menus .card__image-4 {
  background-image: url("../../assets/menu-4.jpg");
}
#homepage .menus .card__description {
  position: relative;
  border-radius: 0 0 1rem 1rem;
  background-color: white;
}
#homepage .menus .card__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 15.9px;
  top: 49%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 15.9px;
  top: 49%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
#homepage .menus .card__description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.12);
}
#homepage .menus .card__description h3 {
  padding-top: 0.8rem;
  padding-left: 1rem;
  font-weight: 700;
}
#homepage .menus .card__description p {
  padding: 0.4rem 0 1rem 0;
  padding-left: 1rem;
}

.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7098039216);
}
.footer__logo {
  font-family: "Shrikhand", "cursive";
  color: white;
  margin: 6px 6px 10px;
  font-size: large;
}
.footer__listing {
  list-style: none;
  padding-left: 8px;
  margin: 6px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer__icon {
  width: 1rem;
  margin-right: 0.5rem;
}

.fa-utensils {
  margin-right: 14px;
}

.fa-handshake-angle {
  margin-right: 9px;
}

@-webkit-keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
body {
  background-color: #f5f5f5;
}

#page-resto .font__image img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
#page-resto .resto__title {
  margin-top: -2rem;
}
#page-resto .resto__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  background-color: #f5f5f5;
  position: relative;
  border-radius: 0 0 1rem 1rem;
}
#page-resto .resto__title h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 15.9px;
  top: 49%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-resto .resto__title h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 15.9px;
  top: 49%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
#page-resto .resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.12);
}
#page-resto .resto-main {
  padding: 0 1rem;
}
#page-resto .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  #page-resto .menus {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus .menus__name {
  background-color: white;
  border-radius: 1rem;
}
#page-resto .menus .menus__name .menu-item {
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  white-space: no-wrap;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
#page-resto .menus .menus__name .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menus .menus__name .menu-item .menu-item__description h4,
#page-resto .menus .menus__name .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menus .menus__name .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#page-resto .menus .menus__name .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
  border-radius: 0 1rem 1rem 0;
}
#page-resto .menus .menus__name .menu-item i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}
#page-resto .menus .menus__name .menu-item:hover .menu-item__check {
  margin-right: 0;
}

.wrappbtn {
  display: flex;
  justify-content: center;
}

.btn {
  padding-top: 20px;
  padding: 0.9rem 2.8rem;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
}/*# sourceMappingURL=style.css.map */