@use "../utils/colors.scss";
@use "../utils/mixins.scss";

.explorer__restaurants {
    text-align: center;
    padding: 2rem;
    background-color: colors.$lightgray;
    padding-bottom: 4.2rem;

    &--title {
    font-size: 25px;
    font-weight: bold;
    margin: 5px 10px 15px 10px;
    }

    &--paragraph {
    color: colors.$darkgray;
    margin: 0 0rem 2.7rem 0;
    font-size: 1.1rem;
    }

    &--btn {
    padding-top: s20px;
    padding: 0.9rem 1.2rem;
    font-weight: 500;
    border-radius: 100px;
    color: #fff;
    background-color: colors.$darkgray;
    @include mixins.base-shadow;
    @include mixins.gradient(0.9);
    &:hover {
        @include mixins.transform-zoom;
        opacity: 0.9;
        transition-duration: 180ms;
        cursor: pointer;
        background-color: colors.$gray;
        }
    }
}
