@use "../utils/colors.scss";

.header {
    box-shadow: 0 0 0.5Srem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;

    &__logo {
    font-family: "Shrikhand", "cursive";
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0.25rem 0.25rem 0.5rem colors.$darkgray;
    }
}   