@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


    /* font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

#logo {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}   

/* LOCATION-FORM */

.location__form {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #eaeaea;
    font-size: 1.1rem;
    position: relative;
}

.fas.fa-location-dot {
    font-size: larger;
    margin-right: 15px;
}

